.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; /* Light gray background */
}

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  width: 200px; /* Adjust the size as needed */
  height: auto;
}
